* {
	max-height:999999px;
	@include box-sizing(border-box);
}
*:before,
*:after {
	@include box-sizing(border-box);
}

// Body reset

html {
	font-size: 10px;
	min-width: 1200px;
	-webkit-tap-highlight-color: rgba(0,0,0,0);
}


body {
	font-family: $font-base;
	font-size: $font-size-base;
	line-height: $line-height-base;
	color: $text-color;
	background-color: $body-bg;
}


// Reset fonts for relevant elements
input,
button,
select,
textarea {
	font-family: inherit;
	font-size: inherit;
	line-height: inherit;
}

.container {
	width: 1200px;
	margin: 0 auto;
	padding: 0 10px;
	position: relative;
	@include clearfix();
}

.container-fluid {
	width: 100%;
	margin: 0 auto;
	padding: 0 40px;
	min-width: 1200px;
	position: relative;
	@include clearfix();
}


// Links

a {
	color: $link-color;
	text-decoration: none;

	&:hover,
	&:focus {
		outline: none;
	}

}


// Headings

h1, h2, h3, h4 {
	margin: 0;
	padding: 0;
	font-weight: 400;
}

p {
	padding: 0;
	margin: 0 0 10px 0;
}

ul {
	margin: 0;
	padding: 0;
	list-style: none;
}


.h2 {
	font-size: 48px;
	line-height: 1.2;
	font-weight: 700;
	text-align: center;
	font-family: $font-head;
	text-transform: uppercase;
}

.btn_close {
	top: 5px;
	right: 5px;
	width: 20px;
	height: 20px;
	color: #444;
	z-index: 100;
	font-size: 16px;
	cursor: pointer;
	position: absolute;
}

.modal-box {
	width: 300px;
	padding: 30px 40px;
	background: #fff;
	text-align: center;
}

