.b02 {
    background-size: cover;
    background: url("../img/b02_bg.jpg") 50% 50% no-repeat;


    .h2 {
        margin-bottom: 50px;
    }

    .subtitle {
        color: #555;
        font-size: 22px;
        font-weight: 600;
        line-height: 24px;
        text-align: center;
        margin-bottom: 140px;
        font-family: $font-head;
        text-transform: uppercase;
    }

    .sphere {

        li {
            width: 20%;
            color: #444;
            float: left;
            position: relative;
            padding-top: 160px;
            text-align: center;

            &.item1 {
                background: url("../img/b02_item1.png") 50% 0 no-repeat;

                &:before {
                    top: -75px;
                    right: -50px;
                    content: '';
                    width: 114px;
                    height: 33px;
                    position: absolute;
                    background: url("../img/b02_item1_line.png") 0 0 no-repeat;
                }
            }

            &.item2 {
                margin-top: 40px;
                background: url("../img/b02_item2.png") 50% 0 no-repeat;


                &:before {
                    top: -135px;
                    right: 30px;
                    content: '';
                    width: 42px;
                    height: 63px;
                    position: absolute;
                    background: url("../img/b02_item2_line.png") 0 0 no-repeat;
                }
            }

            &.item3 {
                background: url("../img/b02_item3.png") 50% 0 no-repeat;

                &:before {
                    top: -95px;
                    left: 50%;
                    content: '';
                    width: 1px;
                    height: 46px;
                    position: absolute;
                    background: url("../img/b02_item3_line.png") 0 0 no-repeat;
                }
            }

            &.item4 {
                margin-top: 40px;
                background: url("../img/b02_item4.png") 50% 0 no-repeat;

                &:before {
                    top: -135px;
                    left: 30px;
                    content: '';
                    width: 42px;
                    height: 63px;
                    position: absolute;
                    background: url("../img/b02_item4_line.png") 0 0 no-repeat;
                }
            }

            &.item5 {
                background: url("../img/b02_item5.png") 50% 0 no-repeat;

                &:before {
                    top: -75px;
                    left: -50px;
                    content: '';
                    width: 114px;
                    height: 33px;
                    position: absolute;
                    background: url("../img/b02_item5_line.png") 0 0 no-repeat;
                }
            }

            h4 {
                font-size: 16px;
                font-weight: 700;
                line-height: 20px;
                margin-bottom: 30px;
                text-transform: uppercase;
            }

            p {
                padding: 0 10px;
                font-size: 16px;
                line-height: 24px;
            }
        }
    }

    .content {

    }
}