.b07 {
    background-size: cover;
    background: url("../img/b07_bg.jpg") 50% 0 no-repeat;

    .h2 {
        margin-bottom: 80px;
    }

    .flexibility {
        height: 350px;
        position: relative;
        background: url("../img/b07_image.png") 50% 0 no-repeat;

        li {
            font-size: 19px;
            font-weight: 300;
            line-height: 29px;
            position: absolute;

            strong {
                font-weight: 400;
                border-bottom: 1px solid #000;
            }

            &.item1 {
                top: 50px;
                left: 120px;
                width: 200px;
                text-align: right;
            }

            &.item2 {
                top: 50px;
                right: 70px;
                width: 250px;
            }

            &.item3 {
                left: 50%;
                top: 240px;
                width: 320px;
                text-align: center;
                margin-left: -160px;
            }
        }
    }
}