.b04 {
    background: url("../img/b04_bg.jpg") 50% 50% no-repeat;
    background-size: cover;

    .content {
        top: 50%;
        left: 15px;
        margin-top: -220px;
        position: absolute;
    }

    .title {
        font-size: 55px;
        line-height: 1.25;
        font-weight: 700;
        margin-bottom: 30px;
        font-family: $font-head;
        text-transform: uppercase;
    }

    .text {
        font-size: 22px;
        line-height: 36px;
    }
}