.b05 {
    background: url("../img/b05_bg.jpg") 50% 50% no-repeat;
    background-size: cover;

    .content {
        padding-left: 300px;
    }

    .h2 {
        margin-bottom: 40px;
    }

    .text {
        width: 760px;
        font-size: 20px;
        font-weight: 300;
        line-height: 30px;
        text-align: center;
        margin: 0 auto 60px auto;

        span {
            border-bottom: 1px solid #444;
        }
    }

    .subtitle {
        color: #888;
        font-size: 18px;
        font-weight: 700;
        line-height: 30px;
        text-align: center;
        margin-bottom: 35px;
        text-transform: uppercase;
    }

    .download {
        font-size: 0;
        line-height: 0;
        padding-top: 50px;
        text-align: center;
        background: url("../img/b05_download.png") 50% 0 no-repeat;

        li {
            margin: 0 20px;
            display: inline-block;

            p {
                color: #555;
                font-size: 16px;
                line-height: 24px;
                text-align: center;
                padding-top: 15px;

                sup {
                    color: #85cadb;
                }
            }
        }
    }
}