.b08 {
    background-size: cover;
    background: url("../img/b08_bg.jpg") 50% 50% no-repeat;

    .content {
        width: 700px;
        position: relative;
    }

    .h2 {
        font-size: 60px;
        text-align: left;
        margin-bottom: 30px;
    }

    .about {
        width: 350px;
        padding: 20px 0;
        margin-bottom: 30px;
        border-top: 1px solid #ccc;
        border-bottom: 1px solid #ccc;

        li {
            color: #333;
            font-size: 18px;
            line-height: 20px;
            margin-bottom: 20px;

            span {
                color: #81c8da;
                font-weight: 700;
            }

            &:last-child {
                margin-bottom: 0;
            }
        }
    }

    .skills {
        width: 560px;

        li {
            color: #333;
            font-size: 17px;
            line-height: 27px;
            margin-bottom: 20px;

            &:last-child {
                margin-bottom: 0;
            }

            span {
                font-weight: 700;
            }
        }
    }

    .social {
        right: 0;
        top: 280px;
        width: 76px;
        position: absolute;

        ul {
            width: 76px;
            height: 200px;
            position: relative;

            li {
                width: 36px;
                height: 32px;
                position: absolute;

                a {
                    width: 36px;
                    height: 32px;
                    outline: none;
                    display: inline-block;
                    @include opacity(.8);

                    &:hover {
                        @include opacity(1);
                    }
                }


                &.item1 {
                    top: 0;
                    left: 0;
                }

                &.item2 {
                    top: 40px;
                    left: 20px;
                }

                &.item3 {
                    top: 80px;
                    left: 40px;
                }

                &.item4 {
                    top: 120px;
                    left: 20px;
                }

                &.item5 {
                    top: 160px;
                    left: 0;
                }
            }
        }
    }
}
