.b03 {
    background-size: cover;
    background: url("../img/b03_bg.jpg") 50% 50% no-repeat;


    .h2 {
        margin-bottom: 40px;
    }

    .text {
        width: 520px;
        font-size: 18px;
        line-height: 30px;
        text-align: center;
        margin: 0 auto 50px auto;
    }

    .clients {
        position: relative;

        .clients-item {
            outline: none;
            position: relative;
        }

        .clients-row {
            margin: 0;
            padding: 0;
            font-size: 0;
            line-height: 0;
            list-style: none;
            text-align: center;

            li {
                width: 142px;
                height: 158px;
                margin: 0 30px;
                display: inline-block;
                background: url("../img/b03_item_bg.jpg") 50% 0 no-repeat;

                img {
                    @include img-responsive(inline-block);
                }

                &:nth-child(1),
                &:nth-child(5) {
                    @include opacity(.3);
                }
            }
        }


        .clients-nav {
            top: 220px;
            width: 30px;
            height: 30px;
            z-index: 100;
            color: #dddddd;
            cursor: pointer;
            font-size: 30px;
            line-height: 30px;
            position: absolute;

            &:hover {
                color: #85cadb;
            }

            &.prev {
                left: 300px;
            }

            &.next {
                right: 300px;
            }
        }
    }
}