.b09 {
    background: url("../img/b09_bg.jpg") 50% 50% no-repeat;
    background-size: cover;

    .h2 {
        font-size: 40px;
        margin-bottom: 100px;

        span {
            color: #85cadb;
        }
    }

    .form-main {
        text-align: center;

        .form-row {

            .form-group {
                margin-left: 30px;
                padding-right: 30px;
            }
        }

        .form-group {
            width: 230px;
            margin-bottom: 30px;
            display: inline-block;
        }
    }
}
