.head {
    top: 0;
    left: 0;
    color: #fff;
    width: 100%;
    height: 140px;
    z-index: 999;
    min-width: 1240px;
    padding-top: 40px;
    position: absolute;

    .header-logo {
        float: left;
    }

    .header-contact {
        float: right;
        width: 250px;
        text-align: right;

        li {
            margin-bottom: 10px;

            .tel {
                color: #000;
                outline: none;
                font-size: 24px;
                font-weight: 400;
                line-height: 24px;
                text-decoration: none;
                font-family: $font-head;
            }

        }
    }

    .btn-callback {
        color: #000;
        border: none;
        outline: none;
        padding: 10px 0;
        font-size: 15px;
        font-weight: 300;
        line-height: 15px;
        display: inline-block;
        vertical-align: middle;
        border-bottom: 1px solid #000;

        &:hover {
            border-color: transparent;
        }
    }
}

.b01 {
    position: relative;
    background: url("../img/b01_bg.jpg") 50% 50% no-repeat;
    background-size: cover;

    .content {
        width: 720px;
    }

    h1 {
        font-size: 55px;
        font-weight: 700;
        line-height: 60px;
        margin-bottom: 30px;
        font-family: $font-head;
        text-transform: uppercase;

        span {
            position: relative;
            padding-bottom: 20px;
            display: inline-block;
        }

        i {
            right: 0;
            bottom: 0;
            font-size: 12px;
            font-weight: 600;
            line-height: 14px;
            position: absolute;
            font-style: normal;
            font-family: $font-base;
            text-transform: capitalize;
        }
    }

    .text {
        padding: 0 70px;
        font-size: 18px;
        font-weight: 300;
        line-height: 30px;
        margin-bottom: 50px;
    }

    .list {
        font-size: 0;
        line-height: 0;

        li {
            font-size: 16px;
            font-weight: 600;
            line-height: 20px;
            position: relative;
            padding-left: 30px;
            padding-right: 30px;
            display: inline-block;
            text-transform: uppercase;

            &:before {
                top: 50%;
                left: 10px;
                width: 8px;
                height: 8px;
                content: '';
                margin-top: -4px;
                position: absolute;
                border: 1px solid #000;
                @include border-radius(50%);
            }
        }
    }
}
