.b06 {
    background-size: cover;
    background: url("../img/b06_bg.jpg") 50% 50% no-repeat;

    .content {
        width: 800px;
    }

    .h2 {
        font-size: 60px;
        text-align: left;
        margin-bottom: 50px;

        span {
        }
    }


    .text {
        padding-left: 140px;
    }


    h4 {
        color: #555;
        font-size: 22px;
        font-weight: 500;
        margin-bottom: 30px;
    }

    .numeric {
        padding:0;
        counter-reset:li;
        list-style:none;

        li {
            color: #444;
            font-size: 22px;
            font-weight: 300;
            line-height: 34px;
            position: relative;
            padding-left: 80px;
            padding-bottom: 10px;
            margin-bottom: 30px;

            &:last-child {
                margin-bottom: 0;
            }

            &:before {
                top: 0;
                left: 0;
                color: #fff;
                width: 54px;
                height: 54px;
                font-size: 22px;
                font-weight: 900;
                line-height: 50px;
                text-align: center;
                position: absolute;
                background: #85cadb;
                content:counter(li);
                counter-increment:li;
                border: 2px solid #85cadb;
                @include border-radius(50%);
            }
        }
    }
}