@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700&subset=latin,cyrillic);

@font-face {
    font-family:'HelveticaNeueCyr';
    src: url('../fonts/HelveticaNeueCyr-Light/HelveticaNeueCyr-Light_gdi.eot');
    src: url('../fonts/HelveticaNeueCyr-Light/HelveticaNeueCyr-Light_gdi.eot?#iefix') format('embedded-opentype'),
    url('../fonts/HelveticaNeueCyr-Light/HelveticaNeueCyr-Light_gdi.woff') format('woff'),
    url('../fonts/HelveticaNeueCyr-Light/HelveticaNeueCyr-Light_gdi.ttf') format('truetype'),
    url('../fonts/HelveticaNeueCyr-Light/HelveticaNeueCyr-Light_gdi.svg#HelveticaNeueCyr-Light') format('svg');
    font-weight: 300;
    font-style: normal;
    font-stretch: normal;
    unicode-range: U+0020-2265;
}

@font-face {
    font-family:'HelveticaNeueCyr';
    src: url('../fonts/HelveticaNeueCyr-Roman/HelveticaNeueCyr-Roman.eot');
    src: url('../fonts/HelveticaNeueCyr-Roman/HelveticaNeueCyr-Roman.eot?#iefix') format('embedded-opentype'),
    url('../fonts/HelveticaNeueCyr-Roman/HelveticaNeueCyr-Roman.woff') format('woff'),
    url('../fonts/HelveticaNeueCyr-Roman/HelveticaNeueCyr-Roman.ttf') format('truetype'),
    url('../fonts/HelveticaNeueCyr-Roman/HelveticaNeueCyr-Roman.svg#HelveticaNeueCyr-Roman') format('svg');
    font-weight: 400;
    font-style: normal;
    font-stretch: normal;
    unicode-range: U+0020-2265;
}

@font-face {
    font-family:'HelveticaNeueCyr';
    src: url('../fonts/HelveticaNeueCyr-Medium/HelveticaNeueCyr-Medium_gdi.eot');
    src: url('../fonts/HelveticaNeueCyr-Medium/HelveticaNeueCyr-Medium_gdi.eot?#iefix') format('embedded-opentype'),
    url('../fonts/HelveticaNeueCyr-Medium/HelveticaNeueCyr-Medium_gdi.woff') format('woff'),
    url('../fonts/HelveticaNeueCyr-Medium/HelveticaNeueCyr-Medium_gdi.ttf') format('truetype'),
    url('../fonts/HelveticaNeueCyr-Medium/HelveticaNeueCyr-Medium_gdi.svg#HelveticaNeueCyr-Medium') format('svg');
    font-weight: 600;
    font-style: normal;
    font-stretch: normal;
    unicode-range: U+0020-2265;
}

@font-face {
    font-family:'HelveticaNeueCyr';
    src: url('../fonts/HelveticaNeueCyr-Bold/HelveticaNeueCyr-Bold_gdi.eot');
    src: url('../fonts/HelveticaNeueCyr-Bold/HelveticaNeueCyr-Bold_gdi.eot?#iefix') format('embedded-opentype'),
    url('../fonts/HelveticaNeueCyr-Bold/HelveticaNeueCyr-Bold_gdi.woff') format('woff'),
    url('../fonts/HelveticaNeueCyr-Bold/HelveticaNeueCyr-Bold_gdi.ttf') format('truetype'),
    url('../fonts/HelveticaNeueCyr-Bold/HelveticaNeueCyr-Bold_gdi.svg#HelveticaNeueCyr-Bold') format('svg');
    font-weight: 700;
    font-style: normal;
    font-stretch: normal;
    unicode-range: U+0020-2265;
}