
$body-bg                :   #fff !default;
$text-color             :   #000 !default;
$link-color             :   #000 !default;
$link-hover-decoration  :   underline;


$font-size-base         :   14px !default;
$line-height-base       :   1.428571429 !default;
$font-base              :   'Open Sans', Arial, sans-serif !default;
$font-head              :   'HelveticaNeueCyr', sans-serif !default;

