
@import "fonts";
@import "variables";
@import "font-awesome/font-awesome";
// Mixins

@import "mixins/clearfix";
@import "mixins/gradients";
@import "mixins/image";
@import "mixins/opacity";
@import "mixins/vendor-prefixes";
@import "mixins/center-block";
@import "mixins/buttons";


// Reset
@import "components/normalize";
@import "../js/vendor/slick/slick";

// Core
@import "base";
@import "components/buttons";
@import "components/forms";
@import "components/utilities";

@import "components/responsive-embed";



@import "block01";
@import "block02";
@import "block03";
@import "block04";
@import "block05";
@import "block06";
@import "block07";
@import "block08";
@import "block09";



@media (max-width: 1230px) {

    .container {
        padding-top: 170px;
        padding-bottom: 170px;
    }
}

@media (max-height: 700px) {

    .container {
        padding-top: 170px;
        padding-bottom: 170px;
    }
}