.btn {
	margin:0;
	outline: none;
	cursor: pointer;
	font-size: 13px;
	font-weight: 700;
	line-height: 21px;
	text-align: center;
	position: relative;
	padding: 12px 20px;
	display: inline-block;
	text-decoration: none;
	vertical-align: middle;
	background-image: none;
	text-transform: uppercase;
	touch-action: manipulation;
	border: 2px solid #85cadb;
	@include transition(.3s);

	&:hover {
		text-decoration: none;
	}

	&:active {
		top: 1px;
	}
}


.btn-white {
	color: #555;
	background: #fff;

	&:hover {
		color: #fff;
		background: #85cadb;
	}
}

.btn-blue {
	color: #fff;
	background: #85cadb;

	&:hover {
		color: #555;
		background: #fff;
	}
}