.form-control {
	margin: 0;
	width: 100%;
	color: #888;
	border: none;
	outline: none;
	font-size: 18px;
	font-weight: 300;
	line-height: 20px;
	padding: 16px 10px;
	text-align: center;
	display: inline-block;
	background: transparent;
	border-bottom: 1px solid #dedfdf;
	@include placeholder(#888);

	&::-ms-clear {
		display: none;
		width: 0;
		height: 0;
	}

	&:focus {
		@include placeholder(transparent);
	}


	&.error {
		color: #ff0000;
		border-color: #ff0000;
	}
}



label {
	font-weight: 400;
	display: block;
}

.form-group {
	margin-bottom: 20px;
}

.form-title {
	font-size: 20px;
	line-height: 30px;
	text-align: center;
	margin: 0 -20px 20px -20px;
	font-family: $font-head;
	text-transform: uppercase;
}